img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-zoom: none;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  color: white;
  font-size: larger;
}

a,
button,
a span {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn.extra-width {
  padding: 13px 40px;
}

.btn:focus,
.btn:active {
  outline: inherit;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0 0 15px;
}

a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  width: 210px !important;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
  min-width: 230px;
}

.form-control {
  border: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 16px;
  height: 45px;
}

.form-control {
  display: inline-block;
  width: 60%;
  padding: 6px 25px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #182e4c;
  background-image: none;
  border: 0px solid #ccc;
  border-radius: 5px;
}

.form-control:focus {
  border-color: #8ea03e;
}

h1 {
  font-size: 3.375rem;
  line-height: 3.375rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #fff;
}

h2 {
  font-size: 21px;
  line-height: 29px;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #b69d74;
}

p {
  line-height: 1.375rem;
  font-size: 0.875rem;
  color:white;
}

p:last-child {
  margin-bottom: 0px;
}

/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
  color: #ffffff;
  /*font-family: 'roboto', sans-serif;*/
}

.text {
  color: #333333;
}

.colorstext {
  color: #8ea03e;
}

.coloricon i {
  color: #8ea03e;
}

.colorsbg {
  background: #8ea03e;
  color: #ffffff;
}

.lightbg {
  background-color: #f9f9f9;
}

.transition {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.heading {
  margin-bottom: 4rem;
}
.overlay {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
} 
.overlay2{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../image/overlay2.jpeg") no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.home-overlay {
  background-color: rgba(94, 154, 40, 0.7);
  width: 100%;
  height: auto;
}

.home-overlay-fluid {
  background-color: rgba(41, 41, 41, 0.68);
  width: 80%;
  margin: auto;
}

.overlay-img {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #ffffff;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.fluid-blocks-col {
  padding: 70px 40px 0 80px;
}

.fluid-blocks-col-right {
  padding: 70px 80px 0 40px;
}

.btn_news_color {
  color: #b69d74;
  border-color: #b69d74;
}

.btn-md {
  border: 1px solid #b69d74;
  color: #b69d74;
}

.btn-larg {
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 30px;
}

/*
Extra height css
*/
.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.padding-top-20 {
  padding-top: 1.33rem;
}

.padding-bottom-20 {
  padding-bottom: 1.33rem;
}

.padding-top-40 {
  padding-top: 2.66rem;
}

.padding-bottom-40 {
  padding-bottom: 2.66rem;
}

.padding-top-60 {
  padding-top: 5rem;
}

.padding-bottom-60 {
  padding-bottom: 5rem;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

/*padding*/
.padding-twenty {
  padding: 10px 0;
}

.padding-fourty {
  padding: 20px 0;
}

.padding-sixty {
  padding: 30px 0;
}

.padding-eighty {
  padding: 40px 0;
}

h1 span {
  color: #b69d74;
  font-weight: 400;
}
.home .main_home {
  padding-top: 250px;
}

.home .main_home h1 {
  color: #fff;
  padding-bottom: 25px;
  width: 85%;
  text-transform: uppercase;
}

.home .main_home .video_play_icon a {
  width: 175px;
  height: 125px;
  background: #032f3e;
  display: inline-block;
  text-align: center;
  line-height: 140px;
}

.home .main_home .video_play_icon a i {
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  font-size: 30px;
  border-radius: 50%;
}

.home .owl-theme .owl-nav {
  margin-top: 80px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot span {
  background: #b69d74;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #b69d74;
}
img.logo_1 {
  width: 130px;
  max-width: 100%;
}
.row.g-3.form-inline.justify-content-center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}